In [1]:
#Assignment 1

In [30]:
#Q1

name = "Prasad"
age = 21
print(name)
print(age)

Prasad
21

In [31]:
#Q2

X = "Datascience is used to extract meaningful insights."
splt = X.split()
print(splt)

['Datascience', 'is', 'used', 'to', 'extract', 'meaningful', 'insights.']

In [32]:
#Q3

def mul(x, y):
    return x*y

print(mul(3, 2))

6

In [33]:
#Q4

dict = {"Tamil Nadu":"Chennai", "Punjab":"Chandigarh", 
        "Telengana":"Hyderabad", "West Bengal":"Kolkata", 
       "Maharashtra":"Mumbai"}
print(dict.keys())
print(dict.values())

dict_keys(['Tamil Nadu', 'Punjab', 'Telengana', 'West Bengal', 'Maharashtra'])
dict_values(['Chennai', 'Chandigarh', 'Hyderabad', 'Kolkata', 'Mumbai'])

In [34]:
#Q5

x = range(1000)

In [35]:
#Q6

identity_matrix = [[1,0,0,0],[0,1,0,0],[0,0,1,0],[0,0,0,1]]
print(identity_matrix)

[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]

In [36]:
#Q7

mat = [[1,2,3],[4,5,6],[7,8,9]]
print(mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [37]:
#Q8

m1 = [[1,2,3],[4,5,6]]
m2 = [[6,2,1],[5,6,3]]
result = [[0,0,0],[0,0,0]]
for i in range(len(m1)):
    for j in range(len(m1[i])):
        result[i][j] = m1[i][j] + m2[i][j]
        
print(result)

[[7, 4, 4], [9, 11, 9]]

In [38]:
#Q9

from datetime import datetime, timedelta

start = datetime(2023, 2, 1)
end = datetime(2023, 3, 1)

current_date = start
while current_date <= end:
    print(current_date.strftime("%Y-%m-%d"))
    current_date += timedelta(days=1)

2023-02-01
2023-02-02
2023-02-03
2023-02-04
2023-02-05
2023-02-06
2023-02-07
2023-02-08
2023-02-09
2023-02-10
2023-02-11
2023-02-12
2023-02-13
2023-02-14
2023-02-15
2023-02-16
2023-02-17
2023-02-18
2023-02-19
2023-02-20
2023-02-21
2023-02-22
2023-02-23
2023-02-24
2023-02-25
2023-02-26
2023-02-27
2023-02-28
2023-03-01

In [39]:
#Q10

import pandas as pd

dict = {'Brand':['Maruti', 'Renault', 'Hyundai'], 'Sales':[250,200,240]}
df = pd.DataFrame(dict)
print(df)

     Brand  Sales
0   Maruti    250
1  Renault    200
2  Hyundai    240